{% extends 'base.html.twig' %}
{% set title = 'Contribute' %}

{% block body %}

<div class="page">
    <div class="mogboard-header">
        <img src="/i/brand/universalis/universalis_bodge.png">
    </div>

    <div class="page-block">

        <br><br>

        <div class="page-short">
            <h3>{{ 'How to contribute to <strong>Universalis</strong>'|translate('contribute_howto_title') }}</h3>
            <p>
                {% apply translate('contribute_howto_explanation_1') %}
                There are multiple ways to contribute to <strong>Universalis</strong>.
                All of your contributions are anonymous - no one will be able to refer back
                to your character or account to know that you have uploaded any data.
                The applications below are tested by us to make sure that they don't endanger
                your account or your characters.
                {% endapply %}
            </p>
            <p>
                {% apply translate('contribute_howto_explanation_2') %}
                Every contribution helps to make the data on <strong>Universalis</strong> better,
                more accurate and more helpful. Thank you very much for helping out!
                {% endapply %}
            </p>
        </div>

        <br><br>

        {% include 'Pages/contributer.html.twig' with {
            name: 'FFXIVQuickLauncher',
            kind: 'In-Game addon'|translate('contribute_applicationkind_ingame_addon'),
            description: 'FFXIVQuickLauncher is a faster launcher for FFXIV aims to fix the slowness and tediousness of 
                          the regular launcher and adds a lot of QoL features to the game.'|translate('contribute_description_xivlauncher'),
            intl_url: 'https://github.com/goaaats/FFXIVQuickLauncher/',
            cn_url: 'https://gitee.com/bluefissure/Dalamud/releases/v4.9.8.2-beta.5'
        } %}

        <br><br><br>

        {% include 'Pages/contributer.html.twig' with {
            name: 'Universalis',
            kind: 'ACT plugin'|translate('contribute_applicationkind_act_plugin'),
            description: 'This is a regular ACT plugin that runs next to the always-used FFXIV_ACT_PLUGIN - just drop it into your
                          ACT plugins folder, add it to ACT and you\'re good to go! No configuration needed.'|translate('contribute_description_act_plugin'),
            intl_url: 'https://github.com/goaaats/universalis_act_plugin/releases/latest',
            cn_url: 'https://gitee.com/bluefissure/universalis_act_plugin/releases/v1.1'
        } %}

        <br><br><br>

        {% include 'Pages/contributer.html.twig' with {
            name: 'FFXIV Teamcraft',
            kind: 'Collaborative crafting tool'|translate('contribute_applicationkind_teamcraft'),
            description: 'FFXIV Teamcraft is a tool for Final Fantasy XIV players that helps with crafting lists organization and
                          crafting/gathering in general. It has a lot of features to make it a one stop shop, with things like
                          integrated alarms, custom items, permissions system, realtime sharing, etc.'|translate('contribute_description_teamcraft'),
            intl_url: 'https://github.com/ffxiv-teamcraft/ffxiv-teamcraft/releases/latest'
        } %}

        <br><br><br>

        {% include 'Pages/contributer.html.twig' with {
            name: 'Matcha',
            kind: 'ACT plugin',
            description: 'If you are playing on chinese server(other servers are not supported), you can use Matcha plugin
                          provided by FFCAFE which have built-in Universalis integration. Matcha also provides a overlay
                          to show price information from Universalis.',
            intl_url: 'https://ffcafe.org/matcha/universalis/'
        } %}

        <br><br>

        <div class="page-short">
            <h3>{{ 'Are you making your own application?'|translate('contribute_invite_title') }}</h3>
            <p>
                {{ 'If you wish to contribute to <strong>Universalis</strong> with your own application,
                please contact us on our <a href="%s">Discord</a>. Let\'s work together!'|translate('contribute_invite_explanation')|format('https://discord.gg/JcMvMxD') }}
            </p>
        </div>
    </div>

    {% include 'Pages/more_questions.html.twig' %}

</div>

{% endblock %}
