<div class="table">
    <table>
        <tbody>
        <tr>
            <td>
                {{ 'If logged in and character verified, show if any friends have purchased this item.'|translate('friends_guide_1') }}
            </td>
        </tr>
        </tbody>
    </table>
</div>
