{% extends 'UserAccount/index.html.twig' %}
{% set title = 'Reports' %}
{% set accountpage = 'reports' %}

{% block account %}

    <h5>{{ 'Reports'|translate('generic_reports') }}</h5>

{% endblock %}
